header{
    background-color: rgb(107, 86, 86);
    height: 150px;
}
nav{
    background-color: rgb(81, 81, 94);
    display: inline-flex;
    height: 800px;
    width: 200px;
}
nav li{
    display: flex;
}

nav li a{
    color:gray;
    text-decoration: none;
    margin: 0;
    padding: 10px;
    font-size: 20px;
}
nav li a:hover{
    background-color: aqua;
}


main{
    display: inline;
    position: absolute;
    padding: 20px; /* Adicionar um pouco de espaço para evitar que o conteúdo toque o footer */

    }
body{
    background-color: beige;
}
#imagem{
    width: 500px;
    height: 150%;
}
#porquinho{
    width: 1000px;
    height: 900%;
}